* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
img {
  user-select: none;
  -webkit-user-drag: none;
}

  body {
    height: 100vh;
    background-color: #262b36;
  }

  .container {
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  .logo{
  /* width: 100%;
  height: 50%; */
  position: absolute;

  display: flex;
  /* left: -150px;
  top: -150px; */
  /* width: 500px; */
}

.container .image {
  /* background-color: red; */
  display: flex;
  width: 49%;
  align-items: center;
  justify-content: center;
  /* right: 0px; */
  overflow: hidden;
  height: 96vh;
}

.image img {
  position: absolute;
  align-items: center;
  right: 10%;
  width: 30%;
  max-width: 80vh;
  height: auto;
  overflow: hidden;
  z-index: -1;
}

.container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 49%;
  height: 96vh;
}

.form .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 15px;
}

.form .input-box input:focus~label,
.form .input-box input:valid~label {
  top: -3px
} 

.form .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.form .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.form .input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
  color: white;
}

.form  .btn{
  width: 25%;
  height: 45px;
  background: #e8ebfb;
  color: black;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
}

.form .or {
  margin: 15px;
  color: white;
}

.form img {
  width: 55px;
  cursor: pointer;
}

.form h3 {
  margin-top: 29px;
  color: white;
  font-size: 1.4em;
}

.form h3 span {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.form .forms {
  overflow: hidden;
}

.form  .signin {
  justify-content: center;
  height: 100%;
  transform: translateY(700);
  transition: transform .18s ease;
}

.form  .signup {
  justify-content: center;
  height: 100%;
  transition: transform .18s ease;
  transform: translateY(0);
}

.form.active .signin {
  justify-content: center;
  height: 100%;

  transition: transform .18s ease;
  transform: translateY(-800px);
}

.form.active .signup {
  justify-content: center;
  height: 100%;

  transition: transform .18s ease;
  transform: translateY(700px);
}


.error {
  position: absolute;
}


/* ============= ===================== otp container div here  */

.container .otp {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.container .otp .otp_container {
  width: 380px;
  height: 500px;
  background-color: rgba(1,1,1,0.5);
}

.otp .otp_container .otp_image {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.otp_container .otp_image img {
  width: 19em;
}

.container .otp .otp_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.otp .otp_content input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 15px;
  border-radius: 1rem;
  cursor: pointer;
}

.otp .otp_content input:focus {
  outline-color: lightcoral;
}

.container .otp .sub_can {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 11px;
}


.otp .sub_can h2 {
  /* display: flex; */
  padding: 9px 19px;
  background-color: #e8ebfb;
  margin-top: 25px;
  cursor: pointer;
  color: black;
  border-radius: 15px;
}

/* 810  working with responsive here  */

@media (max-width: 810px) {

  .container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 96vh;
  }
  
  .container .image {
    /* background-color: red; */
    display: none;
    width: 49%;
    align-items: center;
    justify-content: center;
    /* right: 0px; */
    overflow: hidden;
    height: 96vh;
  }
  
}


@media (max-width: 625px) {
  .form  .btn{
    width: 130px;
    height: 45px;
    background: #e8ebfb;
    color: black;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
  }
  
}

@media (max-width: 472px) {
  .form .input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 15px;
  }
  .form h3 {
    margin-top: 29px;
    color: white;
    font-size: 1.1em;
  }
  
}

@media (max-height: 740px) {
  .form.active .signin {
    justify-content: center;
    height: 100%;
  
    transition: transform .18s ease;
    transform: translateY(-700px);
  }
  
}

@media (max-height: 690px) {
  .form.active .signin {
    justify-content: center;
    height: 100%;
  
    transition: transform .18s ease;
    transform: translateY(-650px);
  }
  
}

@media (max-height: 640px) {
  .form.active .signin {
    justify-content: center;
    height: 100%;
  
    transition: transform .18s ease;
    transform: translateY(-550px);
  }
  
}