* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
img {
  user-select: none;
  -webkit-user-drag: none;
}

  body {
    height: 100vh;
    background-color: #262b36;
  }

  .container {
        width: 100%;
        height: 100vh;
        padding: 15px;
        display: flex;
        justify-content: space-between;

  }

   .logo{
    width: 100%;
    height: 50%;
    position: absolute;

    display: flex;
    left: -150px;
    top: -150px;
    width: 500px;
  }

  .container .image {
    /* background-color: red; */
    display: flex;
    width: 49%;
    align-items: center;
    justify-content: center;
    /* right: 0px; */
    overflow: hidden;
    height: 96vh;
  }

  .image img {
    /* display: flex; */
    position: absolute;
    align-items: center;
    right: 1px;
    /* right: ; */

    width: 90%;
    max-width: 90vh;
    height: auto;
    overflow: hidden;
    z-index: -1;
  }

  .container .form {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: blue; */
    width: 49%;
    height: 96vh;
}

.form .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .signin {
  display: flex;
  /* width: 100%; */
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.form .input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 15px;
}

.form .input-box input:focus~label,
.form .input-box input:valid~label {
  top: -3px
} 

.form .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.form .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.form .input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
  color: white;
}

.form  .btn{
  width: 25%;
  height: 45px;
  background: #e8ebfb;
  color: black;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
}

.form .or {
  margin: 15px;
  color: white;
}

.form img {
  width: 55px;
  cursor: pointer;
}

.form h3 {
  margin: 29px;
  color: white;
  font-size: 1.4em;
}

.form h3 span {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.form .forms {
  /* position: absolute;
  display: flex; */
  overflow: hidden;

}

.form  .signin {

  justify-content: center;
  height: 100%;
  /* transition: none;
   */
  transform: translateY(700);
  transition: transform .18s ease;

}

.form  .signup {
  justify-content: center;
  height: 100%;
  /* transition: none; */
  transition: transform .18s ease;
  transform: translateY(0);
}

.form.active .signin {
  justify-content: center;
  height: 100%;

  transition: transform .18s ease;
  transform: translateY(-900px);
}

.form.active .signup {
  justify-content: center;
  height: 100%;

  transition: transform .18s ease;
  transform: translateY(700px);
}


.error {
  position: absolute;
  /* top: 50px; */
}

/* 
@media (max-width: 820px) {
  .image img {
    display: none;
  }


} */

/* 
.form.active signin {

  transition: none;
  transform:  translateX(-450px);
  display: none;
}

.form signin {
  transition: transform .18s ease;
  transform: translateX(0);
}

.form.active .signup {
  
  transition: transform .18s ease;
  transform: translateX(0);
}

.form .signup {
  display: flex;
  transition: none;
  transform: translateX(450px);
}   */