body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 50px;
    margin: 0;
    /* min-width: 350px;
    overflow: hidden; */
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    min-width: 350px;
  }
  
  h1 {
    color: #d9534f;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  