<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    
    <div class="container">
        <div class="header">
            <div class="profile">
                <div class="notification">
                    <h3><i class="bi bi-bell"></i></h3>
                </div>
                <div class="text">
                    <h3 id="UserName"></h3>
                </div>
                <div class="image">
                    <img id="image_user" src="" alt="profile photo">
                </div>
            </div>
            <div class="sear">

                <!-- <div class="search-btn">
                    <i class='bx bx-search icon' ></i>
                    <input type="search" placeholder="Search" class="serch_butt">
                </div> -->
                <!-- <i id="butt" class="bi bi-justify"></i>
                <div class="seafr">
                    <ul>
                        <li>
                            <img src="../images/hello.png" alt="">
                            <h2 id="name_id">afanti</h2>
                            <h3 id="click_btn">challenge</h3>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="navbar">
                <div class="image-text">
                    <img src="./images/login/logo.webp" alt="logo">
                </div>
            <nav class="sidebar close">
            
                <div class="menu-bar toggle">
                    
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="nav-link"  id="homepage">
                                <a href="#/">
                                    <i class='bx bx-home  icon' ></i>
                                </a>
                            </li>
                            <li class="nav-link"  id="gamepage">
                                <a href="#/game">
                                    <i class="bi bi-controller icon"></i>
                                </a>
                            </li>
                            <li class="nav-link"  id="profilepage">
                                <a href="#/profile">
                                    <i class="bi bi-person icon"></i>
                                </a>
                            </li>    
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <li id="logout">
                            <a href="#">
                                <i class='bx bx-log-out  icon' ></i>
                            </a>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main-content">

            <div class="main">
                <div class="content">
                    <div class="profile">
                        <img id="img_profile" src="/images/background-images/Match-de-ping-pong-23.jpg" alt="">
                        <img id="avatar" src="" alt="">
                        <div class="text">
                            <h3 id="profile_username"></h3>
                            <h2 id="edit_profile" class="edit_profi"> <i class="bi bi-gear"></i> Edit Profile</h2>
                        </div>
                    </div>
                    <div class="matches">
                        <div class="match_wl">
                            <div class="matchess">
                                <h3>Matches</h3>
                                <h2>0</h2>
                            </div>
                            <div class="l_w">
                                <div class="loss">
                                    <h3>Loss</h3>
                                    <h2>0</h2>
                                </div>
                                <div class="won">
                                    <h3>Won</h3>
                                    <h2>0</h2>
                                </div>
        
                            </div>
                        </div>
                        <div class="match_history">
                            <h2 id="hist">matches history</h2>
                            <div class="match">
                                <div class="play">
                                    <img id="player1" src="/images/hello.png" alt="">
                                    <h2 class="player1">smiya</h2>
                                    <h2>0</h2>
                                    <h2>5</h2>
                                    <h2 class="player2">smiya</h2>
                                    <img id="player2" src="/images/hello.png" alt="">
                                </div>
                                <div class="play">
                                    <img id="player1" src="/images/hello.png" alt="">
                                    <h2 class="player1">smiya</h2>
                                    <h2>0</h2>
                                    <h2>5</h2>
                                    <h2 class="player2">smiya</h2>
                                    <img id="player2" src="/images/hello.png" alt="">
                                </div>
                                <div class="play">
                                    <img id="player1" src="/images/hello.png" alt="">
                                    <h2 class="player1">smiya</h2>
                                    <h2>0</h2>
                                    <h2>5</h2>
                                    <h2 class="player2">smiya</h2>
                                    <img id="player2" src="/images/hello.png" alt="">
                                </div>
                                <div class="play">
                                    <img id="player1" src="/images/hello.png" alt="">
                                    <h2 class="player1">smiya</h2>
                                    <h2>0</h2>
                                    <h2>5</h2>
                                    <h2 class="player2">smiya</h2>
                                    <img id="player2" src="/images/hello.png" alt="">
                                </div>

 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friends_list">
                    <div class="send_friend">
                        <input placeholder="Send Friend request.." id="input_search" class="input" name="text" type="text">
                    </div>
                    <h2 id="text">Friends</h2>
                    <div class="friends">
                    <div class="friend" id="user_id">
                    <img id="player1" src="/images/hello.png" alt="">
                    <h2 class="player1">smiya</h2>
                    <h2>play</h2>
                    </div>

                    <div class="friends">
                        <div class="friend" id="user_id">
                        <img id="player1" src="/images/hello.png" alt="">
                        <h2 class="player1">smiya</h2>
                        <h2>play</h2>
                    </div>
                    <div class="friends">
                        <div class="friend" id="user_id">
                        <img id="player1" src="/images/hello.png" alt="">
                        <h2 class="player1">smiya</h2>
                        <h2>play</h2>
                    </div>
                    <div class="friends">
                        <div class="friend" id="user_id">
                        <img id="player1" src="/images/hello.png" alt="">
                        <h2 class="player1">smiya</h2>
                        <h2>play</h2>
                    </div>
                    <div class="friends">
                        <div class="friend" id="user_id">
                        <img id="player1" src="/images/hello.png" alt="">
                        <h2 class="player1">smiya</h2>
                        <h2>play</h2>
                    </div>
                    <div class="friends">
                        <div class="friend" id="user_id">
                        <img id="player1" src="/images/hello.png" alt="">
                        <h2 class="player1">smiya</h2>
                        <h2>play</h2>
                    </div>
                    <div class="friends">
                        <div class="friend" id="user_id">
                        <img id="player1" src="/images/hello.png" alt="">
                        <h2 class="player1">smiya</h2>
                        <h2>play</h2>
                    </div>
                    <div class="friends">
                        <div class="friend" id="user_id">
                        <img id="player1" src="/images/hello.png" alt="">
                        <h2 class="player1">smiya</h2>
                        <h2>play</h2>
                    </div>

                    </div>

                </div>
            </div>

          <div class="update_data">
              <div class="profile">
                <i  class="bi bi-x"></i>
                <img id="update_img_profile" src="/images/background-images/Match-de-ping-pong-23.jpg" alt="">
               <div class="update_avatar">
                   <img id="update_avatar" src="" alt="">
               </div>
               <div class="form">
                <div class="btn">
                    <label id="main_label" for="">E-mail</label>
                    <input required="" class="input" type="Email" name="Email" id="update_Email" placeholder="E-mail">
                </div>
                <div class="btn">
                    <label for="name">Username</label>
                    <input required="" class="input" type="UserName" name="UserName" id="update_UserName" placeholder="User Name">
                </div>
                <div class="btn">
                    <label for="name">New Pass</label>
                    <input required="" class="input" type="password" name="password" id="new_password" placeholder="New Password">
                </div>
                <div class="btn">
                    <label for="name">Old Pass</label>
                    <input required="" class="input" type="password" name="password" id="old_password" placeholder="Old Password">
                </div>
                <div class="btn">
                      <label>
                        <input id="check_box" type="checkbox" class="cyberpunk-checkbox">
                        Active 2 step verification</label>
                </div>

                <input id="update_btn" class="login-button" type="submit" value="update profile">
            </div>
              </div>
          </div>
        </div>

    </div>
    <!-- <script type="module" src="index.js"> </script> -->
</body>
</html>