/* html, body {
	margin: 0;
  }
  
  html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
  }
  
  body {
	overflow: hidden;
	height: inherit;
	height: 100%;
	width: 100%;
  }
  
  h1 {
	font-size: 2rem;
	letter-spacing: -1px;
	position: absolute;
	margin: 0;
	top: -4px;
	right: 5px;
  
	color: transparent;
	text-shadow: 0 0 4px white;
  }

  canvas {
	padding: 5px;
	margin: 10px;
	z-index: 10;
  }

  button {
	display: block;
  } */

.p_box_result {
	position:absolute;
	z-index: 100;
	display: flex;
	margin-top: calc((((99vh - min(99vw, 99vh)) * 0.1) + 100px / 2));
	margin-left: calc((((99vw - min(99vw, 99vh)) / 2)));
	width: calc(( min(99vw, 99vh) - 100px));
	/* margin: 15px; */
	/* width: 720px; */
}

.p_container {
	position: relative;
	width: calc(100vw - 100px);
	height: calc(100vh - 100px);
}

.p_canvas_background {
	position: absolute;
	color: rgba(0, 0, 0, 1);
	z-index: 0;
	width: calc(100vw - 100px);
	height: calc(100vh - 100px);
	display: flex;
}

.p_first {
	/* width: 360px; */
	text-align: left;
	/* color: white; */
	color: rgb(45, 204, 45);
	text-shadow: 1px 1px rgb(0, 0, 0);
	padding-top: 60px;
	padding-left: 50px;
	font-size: 60px;
}

.p_second {
	/* width: 360px; */
	text-align: right;
	/* color: white; */
	color: rgb(204, 45, 45);
	text-shadow: 1px 1px rgb(0, 0, 0);
	padding-top: 60px;
	padding-right: 50px;
	font-size: 60px;
}

#c {
	position: absolute;
	width: min(99vw, 99vh);
	height: min(99vw, 99vh);
	/* height: 100vh; */
	display: block;
	z-index: 1;
	padding: 0px;
	margin: 0px;
	margin-top: calc(((99vh - min(99vw, 99vh)) * 0.1) - 100px / 2);
	margin-left: calc(((99vw - min(99vw, 99vh)) / 2) - 100px / 2);
	margin-bottom: 1%;
	padding-left: -4rem;
}


/* .div-popup-delete {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }
  
.popup-delete {
// overflow-x: hidden;
// overflow-y: auto; 
animation-name: pop;
animation-duration: 0.5s;
animation-timing-function: ease-in-out;
} */