<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    
    <div class="container">
        <div class="header">

        </div>
        <div class="navbar">

        </div>
        <div class="main-content">
            <div class="matches_hist">

                <div class="first_match">
                    <div class="match_n1 string">
                        <p id="player1_match1" class="player_name">afanti <span class="left_score">5</span></p>
                        <h2>Vs</h2>
                        <p id="player2_match1" class="player_name">afanti <span class="left_score">5</span></p>
                    </div>
                    <div class="match_n2 string">
                        <p id="player1_match2" class="player_name">afanti <span class="left_score">5</span></p>
                        <h2>Vs</h2>
                        <p id="player2_match2" class="player_name">afanti <span class="left_score">5</span></p>
                    </div>
                </div>


                <div class="center_matches">
                    <fiv class="match_2">
                        <p id="player1_match5" class="player_name topp">afanti <span class="left_score">5</span></p>
                        <h2>Vs</h2>
                        <p id="player2_match5" class="player_name downn">afanti <span class="left_score">5</span></p>

                    </fiv>
                    <fiv class="match_final">
                        <p id="player1_match7" class="player_name">afanti<span class="left_score">5</span></p>
                        <h2>Vs</h2>
                        <p id="player2_match7" class="player_name ">afanti<span class="left_score">5</span></p>

                    </fiv>
                    <fiv class="match_2">
                        <p id="player1_match6"  class="player_name topp right_p"> <span class="right_score">5</span> afanti </p>
                        <h2>Vs</h2>
                        <p id="player2_match6"  class="player_name downn right_p"><span class="right_score">5</span> afanti</p>

                    </fiv>
                </div>


                <div class="first_match">
                    <div class="match_n1 string">
                        <p id="player1_match3" class="player_name right_p"><span class="right_score">5</span> afanti</p>
                        <h2>Vs</h2>
                        <p id="player2_match3" class="player_name right_p"><span class="right_score">5</span> afanti</p>
                    </div>
                    <div class="match_n2 string">
                        <p id="player1_match4" class="player_name right_p"><span class="right_score">5</span> afanti</p>
                        <h2>Vs</h2>
                        <p id="player1_match4" class="player_name right_p"><span class="right_score">5</span> afantiddddd</p>
                    </div>
                </div>
            </div>
            <div class="winner_nextgame">
                <h2 id="next_match">Start Match  <i class="bi bi-arrow-right-circle-fill"></i></h2>
                <div class="winneer">
                    <h2 id="winn">Winner <i class="bi bi-trophy-fill"></i></h2>
                    <h3><i class="bi bi-trophy "></i> winner name</h3>
                    <hr id="line1">
                    <hr id="line2">
                    <hr id="line3">
                </div>
            </div>
        </div>



<!-- ====== ======= ====== ======= ====== ======== ===== -->
    </div>
    <script src="../js/navbar.js"> </script>
</body>
</html>