<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="components/ping/style.css">

</head>
<body>
    
    <div class="ml_container">
            <div class="bg_top"></div>
            <div class="ml_profile">
                <div class="ml_notif">
                    <h3><i class="bi bi-bell"></i></h3>
                </div>
                <div class="ml_txt">
                    <h3 id="UserName">afanti</h3>
                </div>
                <div class="ml_img">
                    <img class="ml_img" id="image_user" src="" alt="profile photo">
                </div>
            </div>

        <div class="ml_body">
            <div class="ml_navbar">
                <div class="ml_cover_logo">
                    <img class="ml_logo" src="../../images/login/logo.webp" alt="logo">
                </div>
            <nav class="pong_sidebar close">
                <div class="ml_menubar">
                    <div class="ml_menu">
                        <ul class="ml_menu-links">
                            <li class="ml_nav-link"  id="homepage">
                                <a class="ml_cover_icon" href="#/">
                                    <i class='bx bx-home  icon' ></i>
                                </a>
                            </li>
                            <li class="ml_nav-link"  id="profilepage">
                                <a class="ml_cover_icon" href="#/profile">
                                    <i class="bi bi-person icon"></i>
                                </a>
                            </li>
    
                        </ul>
                    </div>
                    <div class="ml_btn_content">
                        <li class="ml_nav-link" id="logout">
                            <a class="ml_cover_icon" href="#">
                                <i class='bx bx-log-out  icon' ></i>
                            </a>
                        </li>
                    </div>
                </div>
            </nav>
            </div>





        <!-- <div class="ml_main-content"> -->
            <!-- <div class="pong_mer_cont"> -->
            <div class="ml_main-content">
                <!-- <img src="../../images/pong/pong_background.png" alt="" class="ml_bgcontent"> -->
                <img src="../../images/pong/images/pong3.png" alt="" class="ml_bgcontent">
                <dev style="background-color: rgb(0,0,0, 0.2); z-index: 1;" class="ml_bgcontent"></dev>
                <div class="game_container">
                    <div class="rl_game">
                        <div class="ml_local_game" id="remote_game">
                            <h2>Remote</h2>
                            <div class="spinner">
                                <div class="spinner1"></div>
                            </div>
                            <h3 id="cancel_game">Cancel Game</h3>
                            <h3 class="ml_start_game" id="butt_game">Start Game</h3>
                        </div>
                        <div class="ml_local_game" id="local_game">
                            <h2>Local</h2>
                            <input placeholder="Player Name" id="input" class="input" name="text" type="text">
                            <h3 class="ml_start_game" id="local_butt_game">Start Game</h3>
                        </div>
                    </div>
                    <div class="rl_game">
                        <div class="ml_local_game">
                            <h2>AI Bot</h2>
                            <h3 class="ml_start_game" id="btn_ai">Start Game</h3>
                        </div>
                        <div class="ml_local_game">
                            <h2>Tournament</h2>
                            <h3 class="ml_start_game" id="btn_tournament">Start Game</h3>
                        </div>
                    </div>
                </div>

                <div class="rl_game">
                    <div class="ml_description_game">
                        <div class="text">
                            <h4>Get ready to dive into an endless rally of excitement with our modern twist on the classic Pong game! Challenge yourself or a friend as you battle it out in a fast-paced duel, where quick reflexes and sharp focus are your best allies. With vibrant visuals, smooth controls, and infinite gameplay, this is Pong like you've never seen it before. Can you keep up with the speed and claim victory? Let the games begin!</h4>
                        </div>
                    </div>
                </div>
                <!-- <div class="ml_discription_game">
                    <div class="text">
                        <h3>mli tsali n9ad lik chi page 3tini gha design hhhhhhhh .</h3>
                    </div>
                </div> -->
            </div>
        <!-- </div> -->
    </div>




<!-- ====== ======= ====== ======= ====== ======== ===== -->

    <div class="tournament_players">
        <div class="players">
        <h2>Tournament Players</h2>
        <input type="text" id="player1" placeholder="afanti">
        <input type="text" id="player2" placeholder="player name">
        <input type="text" id="player3" placeholder="player name">
        <input type="text" id="player4" placeholder="player name">
        <input type="text" id="player5" placeholder="player name">
        <input type="text" id="player6" placeholder="player name">
        <input type="text" id="player7" placeholder="player name">
        <input type="text" id="player8" placeholder="player name">
        <h3 id="start_tournament">Start Tournament</h3>
        <i class="bi bi-x"></i>
        </div>
    </div>

    </div>
    <script src="../js/navbar.js"> </script>
</body>
</html>