
/* here i fixed dives position and content displayed */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--body-color);
}


:root {
  /* ===== Colors ===== */
  --body-color: #262b36;
  --sidebar-color: #e8ebfb;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #DDD;
  --text-color: #707070;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}


.container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.container .header {  
  position: fixed;
  margin: 0;
  padding-left: 7.2em;
  height: 100px;
  width: 100%;
}

.container .navbar {
  position: fixed;
  min-height: 100vh;
  width: 5em;
}

.container .main-content {
  padding-top: 11vh;
  padding-left: 7.2em;
  height: 100vh;
  width: 100%;
}

/* ==============  here i will work with header content  ============== */
#butt {
  display: none;
}

.header {
  position: relative; 
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  transition: var(--tran-05);
}

.header .profile {
  right: 8px;
  position: relative;
  display: flex;
  padding: 7px;
  align-items: center;
}

.header .profile .image img {
  width: 50px;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
}

.header .profile .text {
  color: #e8ebfb;
}

.header .notification {
  font-size: 18px;
  color: #e8ebfb;
  padding-right: 17px;
  cursor: pointer;
}

/* .sear {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sear .seafr.active {
  display: flex;
}

.sear .seafr {
  display: none; 
  flex-direction: column;
  position: absolute;
  margin-top: 6vh;
  min-height: 100px;
  width: 260px;
  border-radius: 25px;
  background-color: red;
}

.sear .seafr ul {
  background-color: rgb(155, 150, 150);
  border-radius: 20px;
}
.sear .seafr ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

}

.sear .seafr #click_btn {
  padding: 5px;
  background-color: rgb(251, 251, 244);
  border-radius: 25px;
}

.sear .seafr img {
  width: 50px;
} */

/* ==============  here i will work with navbar content  ============== */

.sidebar {
  position: relative;
  top: 0;
  margin-top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  border-radius: 25px;
  width: 88px;
  padding: 10px 14px;
  background-color: var(--sidebar-color);
  transition: var(--tran-05);
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon {
  color: var(--text-color);   
  transition: var(--tran-02); 
}

.sidebar header {
  position: relative;
}

.navbar .image-text img {
  /* width: 70px; */
  position: absolute;
  border-radius: 6px;
  top: -140px;
  left: -140px;
  z-index: -1;
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  /* margin-top: 20px; */
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* ?notification 0 */



.notifi_btn {
  display: none;
  width: 200px;
  height: 250px;
  background-color: #474554;
  position: absolute;
  right: 120px;
  top: 65px;
  border-radius: 25px;
  overflow-y: auto;
  
}

.notifi_btn::-webkit-scrollbar {
display: none;
}


.notifi_btn.active {
  display: flex;
  flex-direction: column;

}

.notifi_btn .send_request {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  background-color: #7c7d85;
  padding: 3px;
  display: flex;
  margin: 2px;
  justify-content: center;
  /* align-items: center; */
}

.send_request .img_text {
  /* justify-content: center; */
  align-items: center;
  display: flex;
}

.send_request .img_text h6{
  text-align:start;
  margin: 5px;
  width: 80px;
  
}

.send_request .img_text img{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.send_request .acc_dec button  {
  /* justify-content: center;
  align-items: center; */
  /* width: 25px; */
  width: 50px;  
  margin: 1px;
  border-radius: 15px;
  border: none;
  height: 20px;
  cursor: pointer;
}

/* // =========================== here i will work with media =========================== */

@media (min-width: 445px) and (max-width: 515px) {
  /* .sear .seafr {
      display: none;
      flex-direction: column;
      position: absolute;
      margin-top: 6vh;
      min-height: 100px;
      width: 260px;
      border-radius: 25px;
      margin-left: 95px;
  }
  
  .sear {
      display: flex;
      flex-direction: column;
      align-items: center;
  } */
}

@media (max-width: 444px) {

  /* .sear .seafr {
      display: none;
      flex-direction: column;
      position: absolute;
      margin-top: 8vh;
      min-height: 100px;
      width: 260px;
      border-radius: 25px;
      margin-left: 190px;
  } */

  .sidebar {
  margin-top: 80px;

      position: relative;
      top: 0;
      left: 0;
      border-radius: 25px;
      height: 1px;
      width: 88px;
      padding: 3px 14px;
      background-color: var(--body-color);
      transition: var(--tran-05);
      overflow: hidden;
  }

  .sidebar.active {
      
      height: 100vh;
      padding: 10px 14px;
      background-color: var(--sidebar-color);
  }

  #butt {
      display: flex;
      /* width: 45px; */
      font-size: 30px;
      cursor: pointer;
      color: #e8ebfb;
  }
}

@media (max-width: 380px) {
  /* .sear .seafr {
      display: none;
      flex-direction: column;
      position: absolute;
      margin-top: 6vh;
      min-height: 100px;
      width: 260px;
      border-radius: 25px;
      margin-left: 100px;
  } */
}

@media (max-width: 350px) {

  #butt {
      display: flex;
      /* width: 45px; */
      font-size: 30px;
      cursor: pointer;
      color: #e8ebfb;

  }

  /* .sidebar .image-text img {
      width: 70px;
      border-radius: 6px;
      padding-top: 3px;
  } */
}

@media (max-width: 400px) {
  .header .profile .image img {
      display: none;
  }

}